{% extends 'base.html' %} {% block title %}Game{% endblock %}

{% block content %}
        <h2>
            Elementary math
        </h2>
    
        <p class="choosemoqmedeba">
            Choose the operator
        </p>
    
        <div class="flex moqmedebebi" id="moqmedebebi">
            <a href="/plus" class="moqmedeba flex" id="mimateba">
                <p>&plus;</p>
                <p>Plus</p>  
            </a>
            <a href="/minus" class="moqmedeba flex" id="gamokleba">
                <p>&minus;</p>
                <p>Minus</p>  
            </a>
           <a href="/times" class="moqmedeba flex" id="gamravleba">
                <p>&times;</p>
                <p>Times</p>
            </a> 
            <a href="/divide" class="moqmedeba flex" id="gayofa">
                <p>&divide;</p>
                <p>Divide</p>  
            </a>
        </div>
{% endblock %}
   