{% extends 'base.html' %} {% block title %}Plus{% endblock %}

{% block content %}
    <div class="flex">

        <div class="ujrakonteiner flex" id="gamoklebaujra">
               <div class="ujra" id="ujra44">
                   <p id="answer44">END</p>
                   <p>44</p>
               </div>
               <div class="ujra" id="ujra43">
                   <p id="answer43">100+0</p>
                   <p>43</p>
               </div>
               <div class="ujra" id="ujra42">
                   <p id="answer42">98+1</p>
                   <p>42</p>
               </div>
               <div class="ujra" id="ujra41">
                   <p id="answer41">89+6</p>
                   <p>41</p>
               </div>
               <div class="ujra" id="ujra40">
                   <p id="answer40">88+2</p>
                   <p>40</p>
               </div>
               <div class="ujra" id="ujra39">
                   <p id="answer39">80+14</p>
                   <p>39</p>
               </div>
               <div class="ujra" id="ujra38">
                   <p id="answer38">79+13</p>
                   <p>38</p>
               </div>
               <div class="ujra" id="ujra37">
                   <p id="answer37">63+29</p>
                   <p>37</p>
               </div>
               <div class="ujra" id="ujra36">
                   <p id="answer36">62+37</p>
                   <p>36</p>
               </div>
               <div class="ujra" id="ujra35">
                   <p id="answer35">53+39</p>
                   <p>35</p>
               </div>
               <div class="ujra" id="ujra34">
                   <p id="answer34">45+8</p>
                   <p>34</p>
               </div>
               <div class="ujra" id="ujra33">
                   <p id="answer33">45+55</p>
                   <p>33</p>
               </div>
               <div class="ujra" id="ujra32">
                   <p id="answer32">44+44</p>
                   <p>32</p>
               </div>
               <div class="ujra" id="ujra31">
                   <p id="answer31">43+34</p>
                   <p>31</p>
               </div>
               <div class="ujra" id="ujra30">
                   <p id="answer30">42+23</p>
                   <p>30</p>
               </div>
               <div class="ujra" id="ujra29">
                   <p id="answer29">41+19</p>
                   <p>29</p>
               </div>
               <div class="ujra" id="ujra28">
                   <p id="answer28">40+12</p>
                   <p>28</p>
               </div>
               <div class="ujra" id="ujra27">
                   <p id="answer27">37+9</p>
                   <p>27</p>
               </div>
               <div class="ujra" id="ujra26">
                   <p id="answer26">36+44</p>
                   <p>26</p>
               </div>
               <div class="ujra" id="ujra25">
                   <p id="answer25">35+37</p>
                   <p>25</p>
               </div>
               <div class="ujra" id="ujra24">
                   <p id="answer24">32+7</p>
                   <p>24</p>
               </div>
               <div class="ujra" id="ujra23">
                   <p id="answer23">30+31</p>
                   <p>23</p>
               </div>
               <div class="ujra" id="ujra22">
                   <p id="answer22">29+31</p>
                   <p>22</p>
               </div>
               <div class="ujra" id="ujra21">
                   <p id="answer21">27+39</p>
                   <p>21</p>
               </div>
               <div class="ujra" id="ujra20">
                   <p id="answer20">26+32</p>
                   <p>20</p>
               </div>
               <div class="ujra" id="ujra19">
                   <p id="answer19">25+29</p>
                   <p>19</p>
               </div>
               <div class="ujra" id="ujra18">
                   <p id="answer18">23+23</p>
                   <p>18</p>
               </div>
               <div class="ujra" id="ujra17">
                   <p id="answer17">20+25</p>
                   <p>17</p>
               </div>
               <div class="ujra" id="ujra16">
                   <p id="answer16">13+20</p>
                   <p>16</p>
               </div>
               <div class="ujra" id="ujra15">
                   <p id="answer15">17+18</p>
                   <p>15</p>
               </div>
               <div class="ujra" id="ujra14">
                   <p id="answer14">19+15</p>
                   <p>14</p>
               </div>
               <div class="ujra" id="ujra13">
                   <p id="answer13">17+11</p>
                   <p>13</p>
               </div>
               <div class="ujra" id="ujra12">
                   <p id="answer12">16+1</p>
                   <p>12</p>
               </div>
               <div class="ujra" id="ujra11">
                   <p id="answer11">12+9</p>
                   <p>11</p>
               </div>
               <div class="ujra" id="ujra10">
                   <p id="answer10">10+3</p>
                   <p>10</p>
               </div>
               <div class="ujra" id="ujra9">
                   <p id="answer9">10+5</p>
                   <p>9</p>
               </div>
               <div class="ujra" id="ujra8">
                   <p id="answer8">11+7</p>
                   <p>8</p>
               </div>
               <div class="ujra" id="ujra7">
                   <p id="answer7">9+4</p>
                   <p>7</p>
               </div>
               <div class="ujra" id="ujra6">
                   <p id="answer6">7+8</p>
                   <p>6</p>
               </div>
               <div class="ujra" id="ujra5">
                   <p id="answer5">5+6</p>
                   <p>5</p>
               </div>
               <div class="ujra" id="ujra4">
                   <p id="answer4">2+8</p>
                   <p>4</p>
               </div>
               <div class="ujra" id="ujra3">
                   <p id="answer3">2+6</p>
                   <p>3</p>
               </div>
               <div class="ujra" id="ujra2">
                   <p id="answer2">2+2</p>
                   <p>2</p>
               </div>
               <div class="ujra" id="ujra1">
                   <p id="answer1">1+1</p>
                   <p>1</p>
               </div>
               <div class="ujra" id="ujra0">
                   <p>START</p>
                   <p>0</p>
   
               </div>
        </div>

        <div class="options">
            <div id="pasuxebi">
                <!-- <h3>  <p class="start">
                თამაშის დასაწყებად დააჭირე კამათელს
            </p>
        </h3> -->
                <div class="flex" >
                    <div class="kamateli">
                        <img class="kamateliimg" src="../static/img/12-removebg-preview.png" alt="">
                    </div>
                    <div>
                        <p class="dawyeba" id="dawyeba">
                            START
                        </p>
                        <p class="gagoreba" id="gagoreba">
                           ROLL THE DICE
                        </p>
    
                    </div>
                </div>
                <p id="findanswer" class="findanswer">Choose the correct answer of the yellow box task</p>
                <div class="pasuxebi flex">
                    <p class="button" number="1" onclick="changecolor(this)">1</p>
                    <p class="button" number="2" onclick="changecolor(this)">2</p>
                    <p class="button" number="3" onclick="changecolor(this)">3</p>
                    <p class="button" number="4" onclick="changecolor(this)">4</p>
                    <p class="button" number="5" onclick="changecolor(this)">5</p>
                    <p class="button" number="6" onclick="changecolor(this)">6</p>
                    <p class="button" number="7" onclick="changecolor(this)">7</p>
                    <p class="button" number="8" onclick="changecolor(this)">8</p>
                    <p class="button" number="9" onclick="changecolor(this)">9</p>
                    <p class="button" number="10" onclick="changecolor(this)">10</p>
                    <p class="button" number="11" onclick="changecolor(this)">11</p>
                    <p class="button" number="12" onclick="changecolor(this)">12</p>
                    <p class="button" number="13" onclick="changecolor(this)">13</p>
                    <p class="button" number="14" onclick="changecolor(this)">14</p>
                    <p class="button" number="15" onclick="changecolor(this)">15</p>
                    <p class="button" number="16" onclick="changecolor(this)">16</p>
                    <p class="button" number="17" onclick="changecolor(this)">17</p>
                    <p class="button" number="18" onclick="changecolor(this)">18</p>
                    <p class="button" number="19" onclick="changecolor(this)">19</p>
                    <p class="button" number="20" onclick="changecolor(this)">20</p>
                    <p class="button" number="21" onclick="changecolor(this)">21</p>
                    <p class="button" number="22" onclick="changecolor(this)">22</p>
                    <p class="button" number="23" onclick="changecolor(this)">23</p>
                    <p class="button" number="24" onclick="changecolor(this)">24</p>
                    <p class="button" number="25" onclick="changecolor(this)">25</p>
                    <p class="button" number="26" onclick="changecolor(this)">26</p>
                    <p class="button" number="27" onclick="changecolor(this)">27</p>
                    <p class="button" number="28" onclick="changecolor(this)">28</p>
                    <p class="button" number="29" onclick="changecolor(this)">29</p>
                    <p class="button" number="30" onclick="changecolor(this)">30</p>
                    <p class="button" number="31" onclick="changecolor(this)">31</p>
                    <p class="button" number="32" onclick="changecolor(this)">32</p>
                    <p class="button" number="33" onclick="changecolor(this)">33</p>
                    <p class="button" number="34" onclick="changecolor(this)">34</p>
                    <p class="button" number="35" onclick="changecolor(this)">35</p>
                    <p class="button" number="36" onclick="changecolor(this)">36</p>
                    <p class="button" number="37" onclick="changecolor(this)">37</p>
                    <p class="button" number="38" onclick="changecolor(this)">38</p>
                    <p class="button" number="39" onclick="changecolor(this)">39</p>
                    <p class="button" number="40" onclick="changecolor(this)">40</p>
                    <p class="button" number="41" onclick="changecolor(this)">41</p>
                    <p class="button" number="42" onclick="changecolor(this)">42</p>
                    <p class="button" number="43" onclick="changecolor(this)">43</p>
                    <p class="button" number="44" onclick="changecolor(this)">44</p>
                    <p class="button" number="45" onclick="changecolor(this)">45</p>
                    <p class="button" number="46" onclick="changecolor(this)">46</p>
                    <p class="button" number="47" onclick="changecolor(this)">47</p>
                    <p class="button" number="48" onclick="changecolor(this)">48</p>
                    <p class="button" number="49" onclick="changecolor(this)">49</p>
                    <p class="button" number="50" onclick="changecolor(this)">50</p>
                    <p class="button" number="51" onclick="changecolor(this)">51</p>
                    <p class="button" number="52" onclick="changecolor(this)">52</p>
                    <p class="button" number="53" onclick="changecolor(this)">53</p>
                    <p class="button" number="54" onclick="changecolor(this)">54</p>
                    <p class="button" number="55" onclick="changecolor(this)">55</p>
                    <p class="button" number="56" onclick="changecolor(this)">56</p>
                    <p class="button" number="57" onclick="changecolor(this)">57</p>
                    <p class="button" number="58" onclick="changecolor(this)">58</p>
                    <p class="button" number="59" onclick="changecolor(this)">59</p>
                    <p class="button" number="60" onclick="changecolor(this)">60</p>
                    <p class="button" number="61" onclick="changecolor(this)">61</p>
                    <p class="button" number="62" onclick="changecolor(this)">62</p>
                    <p class="button" number="63" onclick="changecolor(this)">63</p>
                    <p class="button" number="64" onclick="changecolor(this)">64</p>
                    <p class="button" number="65" onclick="changecolor(this)">65</p>
                    <p class="button" number="66" onclick="changecolor(this)">66</p>
                    <p class="button" number="67" onclick="changecolor(this)">67</p>
                    <p class="button" number="68" onclick="changecolor(this)">68</p>
                    <p class="button" number="69" onclick="changecolor(this)">69</p>
                    <p class="button" number="70" onclick="changecolor(this)">70</p>
                    <p class="button" number="71" onclick="changecolor(this)">71</p>
                    <p class="button" number="72" onclick="changecolor(this)">72</p>
                    <p class="button" number="73" onclick="changecolor(this)">73</p>
                    <p class="button" number="74" onclick="changecolor(this)">74</p>
                    <p class="button" number="75" onclick="changecolor(this)">75</p>
                    <p class="button" number="76" onclick="changecolor(this)">76</p>
                    <p class="button" number="77" onclick="changecolor(this)">77</p>
                    <p class="button" number="78" onclick="changecolor(this)">78</p>
                    <p class="button" number="79" onclick="changecolor(this)">79</p>
                    <p class="button" number="80" onclick="changecolor(this)">80</p>
                    <p class="button" number="81" onclick="changecolor(this)">81</p>
                    <p class="button" number="82" onclick="changecolor(this)">82</p>
                    <p class="button" number="83" onclick="changecolor(this)">83</p>
                    <p class="button" number="84" onclick="changecolor(this)">84</p>
                    <p class="button" number="85" onclick="changecolor(this)">85</p>
                    <p class="button" number="86" onclick="changecolor(this)">86</p>
                    <p class="button" number="87" onclick="changecolor(this)">87</p>
                    <p class="button" number="88" onclick="changecolor(this)">88</p>
                    <p class="button" number="89" onclick="changecolor(this)">89</p>
                    <p class="button" number="90" onclick="changecolor(this)">90</p>
                    <p class="button" number="91" onclick="changecolor(this)">91</p>
                    <p class="button" number="92" onclick="changecolor(this)">92</p>
                    <p class="button" number="93" onclick="changecolor(this)">93</p>
                    <p class="button" number="94" onclick="changecolor(this)">94</p>
                    <p class="button" number="95" onclick="changecolor(this)">95</p>
                    <p class="button" number="96" onclick="changecolor(this)">96</p>
                    <p class="button" number="97" onclick="changecolor(this)">97</p>
                    <p class="button" number="98" onclick="changecolor(this)">98</p>
                    <p class="button" number="99" onclick="changecolor(this)">99</p>
                    <p class="button" number="100" onclick="changecolor(this)">100</p>
                </div>
            </div>
            <p class="timer" id="timer">
                <span id="hours">00:</span>
                <span id="mins">00:</span>
                <span id="seconds">00</span>  
            </p>
            <div class="end" id="end">
                <p class="endtext">THE END</p>
                <form method="POST">
                    <label for="gametype">Game type:</label>
                    <input type="text" name="gametype" id="gametype" value="Plus"><br> <br>
                    <label for="endtime">Your result in seconds:</label>
                    <input type="text" name="endtime" id="endtime" ><br> <br>
                    <label for="fullendtime">Your result as Hours, Minutes, Seconds:</label>
                    <input type="text" name="fullendtime" id="fullendtime" ><br>
                    <button class="btn btn-primary btn-lg" id="startagain">TRY AGAIN</button>
                        
                </form>
            </div>  
        </div>
    </div>

    <script 

    type="text/javascript"
    src="{{ url_for('static', filename = 'js/plus.js') }}"
    ></script>          
{% endblock %}